$sky-dog-primary-color: #f57fa2;
$sky-dog-secondary-color: #fccced;
$sky-dog-primary-support-color: #c79ad8;
$sky-dog-secondary-support-color: #7d87c1;
$sky-dog-white-color: #F2F2F2;
$sky-dog-gray-color: #8f8f8f;
$pink-brownie: #f57fa2;
$pink-nala: #fccced;
$purple-maka: #c79ad8;
$blue-balam: #85abd9;
$big-blue-luka: #7d87c1;
$black-merlina: #2d2929;