$sky-dog-primary-color: #8C0B5F;
$sky-dog-secondary-color: #BF75A5;
$sky-dog-primary-support-color: #D9A7C7;
$sky-dog-secondary-support-color: #F2D8E9;
$sky-dog-white-color: #F2F2F2;
$sky-dog-gray-color: #8f8f8f;
